@charset "UTF-8";
/*html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/
body {
  font-family: arial, sans-serif;
  background: white;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
a, a:visited {
  color: inherit;
}
header {
/*  position: fixed;*/
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  /*  z-index: 1000;*/
}
.site-logo {
  position: relative;
  display: block;
  float: left;
  width: 3.1em;
}
.site-logo img {
  width: 3.1em;
}
.logo {
  opacity: 1;
}
.site-nav {
  position: relative;
  float: right;
  top: 0;
  left: 0;
  display: block !important;
  width: 80%;
  padding: .75em 1em 0 0;
  opacity: .95;
  background: none;
}
.site-nav ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
}
.site-nav ul li {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1.5em;
}
.site-nav ul li a {
  font-size: .85em;
  padding-bottom: .5em;
  text-decoration: none;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.site-nav ul li a:hover {
  outline: none;
  border-bottom: 1px solid white;
}
.hero {
  height: 5em;
  margin-top: 0px;
  padding-top: 22px;
  padding-bottom: 25px;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.5);
}
.hero-content {
  position: relative;
  width: 100%;
  padding-top: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
.intro {
  position: relative;
  color: #343144;
  background: #fff;
  padding: 12.5em 6em 14.5em;
}
.intro-text {
  position: relative;
}
.intro p {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 2.5em;
  line-height: 1.8;
  position: relative;
  z-index: 200;
  text-align: center;
  letter-spacing: .325em;
  text-transform: uppercase;
}
.artworks {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.artwork {
  display: flex;
}
.artwork .artwork-piece {
  padding: 8% 0 8% 23.5%;
  background-image: -moz-linear-gradient(135deg, rgb(160, 55, 220) 0%, rgb(83, 200, 234) 100%);
  background-image: -webkit-linear-gradient(135deg, rgb(160, 55, 220) 0%, rgb(83, 200, 234) 100%);
  background-image: -ms-linear-gradient(135deg, rgb(160, 55, 220) 0%, rgb(83, 200, 234) 100%);
  width: 50%;
}
.artwork-piece figure {
  position: relative;
}
.artwork-piece figure img {
  position: relative;
  z-index: 100;
}
.artwork .artwork-description {
  background: #26223e;
  color: #fff;
  width: 50%;
  padding: 11.25em 13em 11.5em;
}
.artwork-title {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 3em;
  font-weight: 100;
  padding: 2em 0 0 0;
  letter-spacing: .36em;
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 9em;
  margin-bottom: .5em;
}
.artwork-text {
  font-size: 1.1em;
  line-height: 1.9;
  opacity: .8;
  max-width: 20em;
}
.see-more {
  font-size: 1em;
  display: inline-block;
  margin-top: 4.1em;
  padding: 0 0 .4em 0;
  transition: all .3s;
  text-decoration: none;
}
.see-more:hover {
  border-bottom: 1px solid white;
}
/* unvisited link */
a:link {
  color: green;
}
/* Navigation bar link - no underline */
nav a:link {
  text-decoration: none;
}
/* visited link */
a:visited {
  color: darkslategray;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: blue;
  font-family: antic-didone;
  font-style: normal;
  font-weight: 400;
}
